.custom-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.custom-switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-switch-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: yellow;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.custom-switch-label-rail {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
  transform: translate(0, -50%);
  transition: transform 0.4s, background-color 0.4s;
}

.custom-switch-input:checked + .custom-switch-label {
  background-color: #5cb85c;
}

.custom-switch-input:checked + .custom-switch-label .custom-switch-label-rail {
  transform: translate(20px, -50%);
  background-color: #fff;
}
