<div class="container" fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="center center">
  <form [formGroup]="signupForm">
    <mat-horizontal-stepper [linear]="isLinear" class="stepper">

      <mat-step [stepControl]="signupForm">
        <ng-template matStepLabel>Basic Information</ng-template>
        <div class="form-group">
          <div fxLayout="row" fxLayout.lt-sm="column">  <mat-form-field appearance="fill" fxFlex="33">
            <mat-label>First Name:</mat-label>
            <input matInput type="text" id="firstName" formControlName="firstName" required>
          </mat-form-field>
            <mat-form-field appearance="fill" fxFlex="33" >
              <mat-label>Middle Name:</mat-label>
              <input matInput type="text" id="middleName" formControlName="middleName">
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex="33">
              <mat-label>Last Name:</mat-label>
              <input matInput type="text" id="lastName" formControlName="lastName" required>
            </mat-form-field>
          </div>
          <hr>  <div fxLayout="row" fxLayout.lt-sm="column">
          <mat-form-field appearance="fill" fxFlex="50">
            <mat-label>Gender:</mat-label>
            <mat-select id="gender" formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" fxFlex="50">
            <mat-label>Phone:</mat-label>
            <input matInput type="text" id="phone" formControlName="phone">
          </mat-form-field>
        </div>
        </div>
        <div class="button-container">
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Address</ng-template>
        <div class="form-group">
          <div fxLayout="row" fxLayout.lt-sm="column">
            <mat-form-field appearance="fill" fxFlex="50">
              <mat-label>Country:</mat-label>
              <input matInput type="text" id="country" formControlName="country">
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex="50">
              <mat-label>City:</mat-label>
              <input matInput type="text" id="city" formControlName="city">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column">
            <mat-form-field appearance="fill" fxFlex="70">
              <mat-label>Street:</mat-label>
              <input matInput type="text" id="street" formControlName="street">
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex="30">
              <mat-label>Street Number:</mat-label>
              <input matInput type="text" id="streetNumber" formControlName="streetNumber">
            </mat-form-field>
          </div>
        </div>
        <div class="button-container">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Login Information</ng-template>
        <div class="form-group">
          <mat-form-field appearance="fill"  fxFlex="100">
            <mat-label>Email:</mat-label>
            <input matInput type="email" id="email" formControlName="email">
          </mat-form-field>
        </div>
        <div class="form-group">

        <mat-form-field appearance="fill"  fxFlex="100">
            <mat-label>Password:</mat-label>
            <input matInput type="password" id="password" formControlName="password">
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="signUp()">Sign Up</button>
        </div>
      </mat-step>


    </mat-horizontal-stepper>
  </form>
</div>
