<div class="success-message card">
  <div class="success-icon">
    <i class="fas fa-check-circle"></i> </div>
  <h2 class="center">
    Thank you for purchasing through eSewa!
  </h2>
  <p class="center"s>
    Your order is sent the provided receiver detail.
  </p>
  <div class="card-header">
    <h4 class="center">Transaction Details</h4>
  </div>
  <div class="card-body">
    <ul class="center">
      <li><strong>Transaction Code:</strong> {{ parsedData.transaction_code }}</li>
      <li><strong>Status:</strong> {{ parsedData.status }}</li>
      <li><strong>Total Amount:</strong> {{ parsedData.total_amount }}</li>
    </ul>
  </div>
</div>
