<footer class="footer bg-gradient text-white ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h4>Contact Us</h4>
        <p>Email: milankhanal29@gmail.com</p>
        <p>Phone: +977 9868691479</p>
        <p>Address: Pulchowk, Nepal</p>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h4>Useful Links</h4>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12">
        <h4>Follow Us</h4>
        <p>Stay connected with us on social media:</p>
        <div class="social-icons">
          <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
