<div class="container mt-4">
<div class="mt-4">
  <h2 class="text-center">
    Assigned Task of {{ user.firstName }} {{ user.lastName }} </h2>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
      <tr>
        <th>Assigned Date</th>
        <th>Task Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks">

        <td>{{ task.createdDate | date:'yyyy-MM-dd '}}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <td>
         {{ task.status }}
        </td>

      </tr>
      <tr *ngIf="tasks.length === 0">
        <td colspan="3" class="text-center">No Tasks found</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
