<nav class="navbar navbar-expand-lg navbar-light bg-gradients">
  <a class="navbar-brand" routerLink="/"><img src="assets/image/logo.png" class="nav-logo"></a>

  <div class="navbar-collapse" [ngClass]="{'show': isNavbarOpen}" fxLayout="row" fxLayoutAlign="space-between center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav margin-left" *ngIf="(isLoggedIn$ | async) && (userRole$ | async)==='USER'">
      <li class="nav-item">
        <a class="nav-link" routerLink="/attendance">My Attendance </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/attendance-report">Attendance Report </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/daily-log">Write Log </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/all-log">My Daily Log </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-tasks">Assigned Tasks </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-all-tasks">My all Tasks </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" (click)="openProfileDialog()">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" (click)="openNotificationDialog()">  <i class="fa fa-bell"></i>
          <span class="badge badge-danger"*ngIf="notificationCount>0">{{ notificationCount }}</span></a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="!(isLoggedIn$ | async) && (userRole$ | async)!=='USER'">
      <li class="nav-item" >
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="(userRole$ | async) === 'ADMIN'">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/">Task List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/send-notice/">Send Notice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/">Write Notice</a>
      </li>
      <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/attendance">Attendance List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/add-task">Add Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
